<h1 style="text-align: center">Profile</h1>
<div id="profilepage">
    <div id="profiledetails">
        <p>Username: {{ username }}</p>
        <p>Birthdate: {{birthdate }}</p>
        <p>Email: {{ email }}</p>
        <button (click)="show = !show" id="submitbutton" class="btn btn-dark btn-lg">Edit</button>
    </div>
  <form *ngIf="show; else profiledetails" id="profileform">
    <label for="username" class="lbl">Username</label>
    <input type="username" [(ngModel)]="username" name="username" id="username" />
    <label for="birthdate" class="lbl">Birthdate</label>
    <input type="birthdate" [(ngModel)]="birthdate" name="birthdate" id="birthdate" />
    <label for="email" class="lbl">Email</label>
    <input type="email" [(ngModel)]="email" name="email" id="email" />
    <button (click)="saveSessionData();show = !show" id="submitbutton" class="btn btn-dark btn-lg">Save</button>
  </form>