<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">2811ICT Lab Exercise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button (click)="homeBtn()" class="btn my-2 navbutton" type="submit">Home</button>
      </li>
      <li class="nav-item">
        <button (click)="accountBtn()" class="btn my-2 navbutton" type="submit">Account</button>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" action="/login" method="get">
      <button (click)="loginBtn()" class="btn btn-outline-primary navbutton my-2" type="submit">Login</button>
    </form>
  </div>
</nav>